hr{
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 72px;
    margin: 0 auto;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo-img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.header-logo .logo-text{
    color: #2c3338;
    font-size: 20px;
    font-weight: 400;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 25px 0px 25px 20px ;
}
nav ul a {
    text-decoration: none;
    color: #2c3338;
}
nav ul a:hover{
    color:#c3c4c7;
    transition: 0.2s;
}
.log-btn{
    border: 1px solid #c3c4c7;
    background-color: white;
    border-radius: 4px;
    padding: 0 12px;
}


.header-content{
    margin: 0 auto;
    max-width: 600px;
    width: 45%;
}
.header-content h1{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin: 65px 0;
}
.header-content p {
    text-align: center;
    font-size: 18px;
    margin: 50px 0;
}
.header-content a {
    display: inline-block;
    position: relative;
    top:50%;
    left:41%;  
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    background-color: #005a87;
}
.header-content a:hover{
    color: white;
    background-color:#3361cc;
}


.photo-content{
    display: inline-block;
    width: 100%;
    min-height: 450px;
}

.photo-content img{
    margin-top: 80px;
    width: 100%;
}


.content{
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 1050px;
    width: 70%;
}
.content h1{
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.h-i{
    display: flex;
    /* margin: 10px; */
}
.h-i img{
    display: inline-block;
    margin: 8px;
    margin-left: 0px;
}
.h-i h6{
    font-weight: 700;
    font-size: 18px;
    margin: 12px;
    margin-left: 10px;
}
.card-p{
    margin: 0 40px;
}
.card-p p{
    color: #646970;
    text-align: left;
    max-width: 300px;
}
.cards-1{
    display: flex;
    padding: 10px;
    margin-left: 25px;
}
.cards-2{
    display: flex;
    padding: 10px;
    margin-left: 25px;
}
.card-img{
    max-width: 32px;
}

.saying{
    margin: 0 auto;
    max-width: 1050px;
    width: 55%;
    margin-bottom: 80px;
}
.reviews{
    display: flex;
    margin-left: 80px;
}
.re{
    display: flex;
}
.rev{
    padding: 0 20px;
}
.line{
    background-color:#abc1f5;
    width: 15px;
    height: 120px;
}
.saying h1 {
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
    padding: 50px 50px 80px 50px;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}
.download{
    margin: 0 auto;
    max-width: 1050px;
    width: 70%;
    margin-bottom: 80px;
}

.download h1{
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}
.download p{
    font-size: 18px;
    max-width: 900px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.download-links{
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 1050px;
    width: 70%;
}
.download-links div{
    margin: 20px;
    background-color: #323436;
    border-radius: 4px;
    padding: 30px;
}
.download-links i{
    display: inline-block;
    font-size: 35px;
    margin: 20px 20px 20px 10px;
    color: white;
}
.download-links a{
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.download-links a:hover{
    color:#c3c4c7;
}


footer{
    width: 50%;
    height: 90px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
footer ul {
    list-style: none;
    display: flex;
    padding: 10px;
}
footer ul li{
    font-size: 14px;
    margin: 10px;
}
footer p {
    font-size: 14px;
    padding: 20px;
}
footer a {
    text-decoration: none;
    color: #2c3338;
}
footer a:hover{
    color:#c3c4c7;
    transition: 0.2s;
}